## python 기본기 테스트 level 1 

본격적으로 수업을 진행하기에 앞서서 python 문법을 어느정도 숙지했는지 점검해보겠습니다.  
너무 부담감을 느끼지 마시고, 천천히 풀 수 있는 만큼 풀어주시면 되겠습니다.

### 문제 설명

학생 이름과 수학 점수, 국어 점수가 하나의 튜플로 묶여있는 값들의 리스트가 있습니다.  
python의 여러 문법들과 list의 기능을 활용해서 아래 문제들을 풀어보세요.

In [2]:
score_list = [
    ("민수", 90, 95),
    ("지영", 45, 50),
    ("연수", 70, 85),
    ("해인", 80, 90),
    ("지아", 55, 75),
    ("기덕", 80, 85),
    ("우영", 75, 95),
    ("강산", 50, 55),
    ("연지", 75, 65),
    ("동호", 95,  90),
]

### Q1. 총점 출력하기
리스트를 순회하면서 모든 학생들의 이름과 총점을 출력하세요.  
for문을 사용해서 구현해보세요.

In [6]:
for i in range(len(score_list)):
    name, math_score, korean_score = score_list[i]
    print(name, math_score + korean_score)

민수 185
지영 95
연수 155
해인 170
지아 130
기덕 165
우영 170
강산 105
연지 140
동호 185

In [7]:
for name, math_score, korean_score in score_list:
    print(name, math_score + korean_score)

민수 185
지영 95
연수 155
해인 170
지아 130
기덕 165
우영 170
강산 105
연지 140
동호 185

### Q2. 잘못된 문제 정답처리하기

수학 문제 하나가 잘못되어 전원 정답 처리를 하게 되었습니다.  
민수와 지아는 원래도 그 문제를 맞춰서 그대로 두고, 나머지 억울하게 틀린 학생들의 점수만 5점씩 올려주세요.   

new_score_list라는 배열을 만들고, ("이름", "수정된 수학 점수", "국어 점수") 튜플을 하나씩 추가해보세요.  
for문과 if 문, continue 문법을 사용해보세요.

In [8]:
new_score_list = []

for name, math_score, korean_score in score_list:
    if name in ("민수", "지아"):
        new_score_list.append((name, math_score, korean_score))
    else:
        new_score_list.append((name, math_score + 5, korean_score))

print(new_score_list)

[('민수', 90, 95), ('지영', 50, 50), ('연수', 75, 85), ('해인', 85, 90), ('지아', 55, 75), ('기덕', 85, 85), ('우영', 80, 95), ('강산', 55, 55), ('연지', 80, 65), ('동호', 100, 90)]

### Q3. 재시험 대상자 출력하기  
수학은 70점 이하, 국어는 60점 이하일 경우 재시험 대상자입니다.  
new_score_list를 순회하면서 각 과목별 재시험 대상자들을 출력해보세요.  
if문과 for문을 사용하세요.

In [11]:
for name, math_score, korean_score in new_score_list:
    if math_score <= 70:
        print(f"수학 재시험 대상자입니다. 이름: {name}")
        
for name, math_score, korean_score in new_score_list:
    if korean_score <= 60:
        print(f"국어 재시험 대상자입니다. 이름: {name}")

수학 재시험 대상자입니다. 이름: 지영
수학 재시험 대상자입니다. 이름: 지아
수학 재시험 대상자입니다. 이름: 강산
국어 재시험 대상자입니다. 이름: 지영
국어 재시험 대상자입니다. 이름: 강산

### Q4. 성적 우수자 출력하기

성적이 우수한 학생들의 이름을 순서대로 출력해보고자 합니다.  
총점이 가장 높은 순서대로 학생이름과 총점을 출력해보세요.  

만약 총점이 동점이라면 국어 점수가 더 높은 학생을 우선적으로 출력하세요.  
수학 점수와 국어 점수가 모두 동점인 경우는 고려하지 않습니다.  
sorted 문법을 사용해서 풀어보세요.

In [21]:
sorted(new_score_list, key=lambda x: (x[1] + x[2], x[2], x[1]), reverse=True)

[('동호', 100, 90),
 ('민수', 90, 95),
 ('우영', 80, 95),
 ('해인', 85, 90),
 ('기덕', 85, 85),
 ('연수', 75, 85),
 ('연지', 80, 65),
 ('지아', 55, 75),
 ('강산', 55, 55),
 ('지영', 50, 50)]