# Practice 1. Timeseries Analysis

런던시의 자전거 공유 수요량을 담은 데이터 셋이 주어집니다. 시간대별 수요량과 그날의 기온, 습도, 공휴일 여부, 주말 여부 등이 들어있습니다. 지금까지 배운 시계열 분석 스킬들을 모두 사용하여 적절하게 EDA를 수행하고, 자전거 수요량 예측 모델을 만들어보세요. 필요하다면 시간대별로 주어진 데이터 셋을 일별로 평균내서 사용해보세요.

데이터 셋 링크: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset?datasetId=376751

In [7]:
import pandas as pd

df = pd.read_csv("./data/london_bike.csv", parse_dates=["timestamp"], index_col=["timestamp"])

In [13]:
train_df = df.loc[:pd.Timestamp("2016-11-30")]

In [15]:
train_df.to_csv("./data/london_bike_train.csv")

In [1]:
from utils import load_london_bike

train_df, test_df = load_london_bike()

ModuleNotFoundError: No module named 'utils'

In [2]:
train_df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...
2016-09-29 20:00:00,1333,16.0,16.0,57.0,22.0,1.0,0.0,0.0,2.0
2016-09-29 21:00:00,1037,15.0,15.0,65.5,22.0,1.0,0.0,0.0,2.0
2016-09-29 22:00:00,773,14.5,14.5,65.0,21.0,1.0,0.0,0.0,2.0
2016-09-29 23:00:00,572,14.0,14.0,69.5,19.0,1.0,0.0,0.0,2.0
2016-09-30 00:00:00,286,14.0,14.0,69.5,21.0,1.0,0.0,0.0,2.0

In [3]:
test_df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2016-09-30 00:00:00,286,14.0,14.0,69.5,21.0,1.0,0.0,0.0,2.0
2016-09-30 01:00:00,201,14.0,14.0,69.5,17.0,1.0,0.0,0.0,2.0
2016-09-30 02:00:00,113,13.5,13.5,69.5,16.0,1.0,0.0,0.0,2.0
2016-09-30 03:00:00,77,13.0,13.0,74.5,17.0,1.0,0.0,0.0,2.0
2016-09-30 04:00:00,89,13.0,13.0,74.5,17.0,1.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0